@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Comfortaa:wght@600&family=Dosis&family=Inter:wght@500&family=Roboto+Condensed:wght@300&display=swap');

table{
    background-color: #ffffff;
    width: 70%;
    text-align: center
    
}

th{
    background-color: #AA231A;
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 2px;
    color: white;
    height: 40px;
}

td{
    font-family: 'Dosis', sans-serif;
    letter-spacing: 1px;
    color: rgb(0, 0, 0);
    height: 40px;
    border: 2px solid #e1e1e1;
}
